.PropImgTab{
    width: 250px;
    height: 250px;
    margin: 8px;
    border-radius: 10px;
    float: left; 
    
}
.PropsTabs{
    
    display: inline;
    margin: 20px;
    float: left; 
    background-color: red;
    width: 200px;
    
}
.StyleTabsFather{
  overflow: hidden;
}

.TabPanelStyle{
    float: left;

}

.TabListStyle{
    background-color: blue;
}