.contact-style {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5%;
  z-index: 10;
}

.contact-style input,
.contact-style textarea {
  border: 0.5px solid rgba(0, 0, 0, 0.467);
  width: 40%;
  padding: 12px 20px;
  margin: 1%;
  border-radius: 14px;
  font-size: 1.5rem;
}
.button-style {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 14px;
  width: 15%;
  font-size: 1.5rem;
  margin: 2%;
}

.textContainer {
  text-align: left;
  font-weight: bolder;
}

.imgBackground {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 15%;
  right: 1%;
  border-radius: 5px;
  z-index: 1;
}
