.propimagen {
  height: 200px;
  margin-left: 50px;
  width: 20%;
}
.positbox {
  height: 75%;
}
<<<<<<< HEAD
.centrador {
  display: block;
}
.boxgeneral {
  background-color: rgba(0, 0, 0, 0.2);
=======
.centrador{
    display:block;
   
}    
.boxgeneral{
    
    background-color: rgba(0, 0, 0, .2);
    margin: 0mm;
>>>>>>> 80c8f87d72241c5d3fc169d4aa88b39816cb8bca
}

.title{
  font-size: 8rem;
}
.container-title {
  height: 90%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: Allura;
}
@font-face {
  font-family: Allura;
  src: url("../assets/font/allura.regular.ttf");
}
