.propimagen{
    height: 200px;
    margin-left: 50px;
    width: 20%;
}
.positbox{
    height: 75%;
    
       
}
.centrador{
    display:block;
   
}    
.boxgeneral{
    
    background-color: rgba(0, 0, 0, .2);
    margin: 0mm;
}

.container-title{
    
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-family: Allura;
   
}
@font-face {
    font-family: Allura;
    src: url('../assets/font/allura.regular.ttf');
    

}