@font-face { font-family: "DancingScript"; src: url('./assets/font/DancingScript.ttf') format('truetype');}
@font-face { font-family: "allura"; src: url('./assets/font/allura.regular.ttf') format('truetype');}
@font-face { font-family: "Roboto-Thin"; src: url('./assets/font/Roboto-Thin.ttf') format('truetype');}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto-Thin', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
